.champions {
	padding: 4rem 0;

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1.2em;
		min-height: 100vh;
		text-align: center;
		color: #111;
	}

	.champion {
		&__role {
			font-size: 1.8rem;
		}

		&__name {
			font-size: 2rem;
		}

		&__image {
			max-width: 240px;
		}
	}
}

@media (min-width: 1200px) {
	.champions {
		padding: 0;
	}

	.champions__content {
		gap: 0;
	}
}
