@use '../base/variables' as var;

.drafts {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
	transform: translateX(100%);
	background-color: var.$main;
	transition: transform 0.3s ease-in-out;

	&--active {
		transform: translateX(0);
	}

	h2 {
		margin: 2rem 0;
		font-size: 2.4rem;
		text-align: center;
	}

	&__close-button {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 2rem;
		font-size: 2.2rem;
		background-color: var.$cta;
		color: var.$font;
		border: 0;
		border-bottom: 4px solid var.$cta-secondary;
		cursor: pointer;
	}

	&__container {
		height: inherit;
		overflow-y: scroll;
	}

	&__content {
		padding: 0 2rem 2rem 2rem;

		.error {
			font-size: 1.8rem;
			text-align: center;
		}
	}

	.draft {
		margin: 2rem 0;

		&__container {
			display: flex;
			align-items: end;
		}

		h3 {
			font-size: 1.2rem;
			text-align: center;
		}

		img {
			width: 100% !important;
			aspect-ratio: 11 / 20;
		}

		&__remove-button {
			display: block;
			width: 100%;
			padding: 1rem 0;
			border: 0;
			background-color: var.$red;
			color: var.$font;
			cursor: pointer;
		}
	}
}

@media (min-width: 768px) {
	.drafts {
		left: 50%;
		width: 50%;
	}
}
