@use './variables' as var;

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var.$font;
	background-color: var.$background;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

@media (min-width: 768px) {
	html {
		font-size: 66.5%;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 68.5%;
	}
}
