@media (min-width: 768px) {
	h1.header__title {
		font-size: 2.2em;
	}

	button.button {
		font-size: 1.8em;
	}

	button.button--draw {
		padding: 1em 6em;
	}
}

@media (min-width: 1200px) {
	header.header {
		position: fixed;
		bottom: auto;
	}

	div.champions {
		gap: 0;
		align-items: center;
	}
}
