@use '../base/variables' as var;

.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2.4em 1.2em;
	color: var.$font;
	background-color: var.$main;

	&__container {
		display: flex;
		justify-content: center;
	}

	&__title {
		font-size: 1.8rem;
	}
}
